.container {
  background-color: var(--primary-color);
  margin: 25px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}

.link {
  color: var(--white-color);
  text-decoration: none;
}

.link:hover {
  color: var(--secondary-color);
}

.link:active {
  color: var(--secondary-color);
}
